@model StoreMVC.Models.StoreViewModel

@{
    ViewData["Title"] = "GetAllStoreProducts";
}

<h1>All the product's in the Weed Shop!</h1>
<h1>Click on a product to view more information</h1>

<table>
    <thead>
        <tr>
            @*<th>Product ID</th>*@
            <th>Product Name</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.ListOfProducts)
        {
        <tr>
            @*<td>@product.ProductID</td>*@
            <td><a asp-controller="Store" asp-action="ProductDetails" asp-route-id="@product.ProductID">@product.ProductName</a></td>
            <td><a asp-controller="Store" asp-action="AddToCart" asp-route-id="@product.ProductID">Add to cart</a></td>
        </tr>
        }
    </tbody>
</table>
